@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            @Html.Partial("_MenuPartial")

            @Html.Partial("_MenuTopPartial")

            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            @Html.Partial("_FooterPartial")
        </div>
    </div>
</body>

@section scripts
{
    @RenderSection("scripts", false)
}